body  {
    font-family: Ariel, sans-sarif;
    background-color: #f2f6ff;
}

.container {
    width: 400px;
    margin: 80px auto;
    padding: 20px;
    background-color: beige;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    text-align: center;
}

input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
}

button {
    padding: 10px 20px;
    background-color: #4a6cff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #364dff;
}

.result {
    margin-top:15px;
    font-weight: bold;
}
